/* imports */
/* variables */
/* font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");
/* screen sizes */
/* animations */
.__animateup {
  transform: translateY(-100%);
}

.__bounce {
  -webkit-animation: bounce 0.5s infinite alternate;
          animation: bounce 0.5s infinite alternate;
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
.__notification {
  -webkit-animation: notification 3s;
          animation: notification 3s;
}

@-webkit-keyframes notification {
  0% {
    z-index: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    z-index: 1;
    opacity: 0;
    transform: translate(-50%, -50%);
  }
}

@keyframes notification {
  0% {
    z-index: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    z-index: 1;
    opacity: 0;
    transform: translate(-50%, -50%);
  }
}
/* styling */
body {
  background: #f9f6ee;
  font-family: "Rubik", sans-serif;
}
body.__gameover {
  overflow: hidden;
}

*[nodrag] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.highlight {
  color: #3cb35a;
  display: inline-block;
}

header {
  padding: 20px 0;
}
header a {
  color: #03012c;
  text-decoration: none;
}
header a:hover, header a:focus {
  color: #03012c;
}

.header-title {
  font-size: 2.5rem;
  font-weight: 600;
}
.header-text {
  font-weight: 600;
  margin-bottom: 10px;
}

.border-country-card,
.main-country-card {
  perspective: 1000px;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  pointer-events: none;
}
@media screen and (min-width: 992px) {
  .border-country-card,
.main-country-card {
    height: 100px;
  }
}
.border-country-card-content,
.main-country-card-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}
.border-country-front, .border-country-back,
.main-country-front,
.main-country-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.border-country-back,
.main-country-back {
  transform: rotateX(180deg);
  background-color: #000;
}
.border-country-image,
.main-country-image {
  margin-bottom: 10px;
  position: relative;
  height: 100%;
}
.border-country-image img,
.main-country-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.main-country {
  width: 100%;
}
.main-country-card {
  height: 150px;
}
@media screen and (min-width: 992px) {
  .main-country-card {
    height: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .main-country-card {
    height: 300px;
  }
}
.main-country-text {
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .main-country-text {
    font-size: 2rem;
  }
}
.main-country-text p {
  margin-bottom: 10px;
}

form {
  position: relative;
}

label {
  position: absolute;
  left: 99999px;
}

input {
  width: 100%;
  padding: 0 5px;
}

#countries {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  background: #ffffff;
  border: 1px solid #03012c;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
}
#countries::-webkit-scrollbar {
  width: 10px;
}
#countries::-webkit-scrollbar-track {
  background: #03012c;
  opacity: 0.1;
}
#countries::-webkit-scrollbar-thumb {
  background: #3cb35a;
  border-radius: 4px;
}
#countries::-webkit-scrollbar-thumb:hover {
  background: #36a050;
}
#countries option {
  width: 100%;
  font-size: 1rem;
}
#countries option:hover, #countries option:focus, #countries option:active, #countries option.active {
  background: #3cb35a;
  color: #f9f6ee;
}

[hide] .main-country-card-content,
[hide] .border-country-card-content {
  transform: rotateX(180deg);
}
[hide] .main-country-text p,
[hide] .border-country-text p {
  font-size: 0;
}
[hide] .main-country-text p::after,
[hide] .border-country-text p::after {
  content: "?????";
  font-size: 1rem;
}
[hide] .main-country-text p::after {
  font-size: 2rem;
}

.loading-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f9f6ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1.2s;
}
.loading-modal-title {
  font-size: 5rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .loading-modal-title {
    font-size: 6rem;
  }
}
.loading-modal-subtitle {
  font-weight: 600;
}

.notification-modal {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #3cb35a;
  color: #f9f6ee;
  padding: 15px 25px;
  border-radius: 8px;
  z-index: -1;
  opacity: 0;
  width: 75%;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .notification-modal {
    width: auto;
    text-align: left;
  }
}
.notification-modal-text {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
}

.end-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  text-align: center;
}
.end-screen-modal {
  background: #f9f6ee;
  z-index: 10;
  border-radius: 8px;
  padding: 30px 60px;
  width: 85%;
  max-width: 720px;
}
.end-screen-title {
  font-weight: 600;
}
.end-screen-text {
  margin-bottom: 5px;
}
.end-screen .social-icons {
  margin-bottom: 30px;
}
.end-screen .social-icons a {
  color: #03012c;
  opacity: 0.7;
  transition: 0.3s;
  font-size: 1.5rem;
  margin: 0 5px;
}
.end-screen .social-icons a:hover, .end-screen .social-icons a:focus {
  opacity: 1;
}
.end-screen-btn {
  background: #3cb35a;
  color: #f9f6ee;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
  display: inline-block;
  margin-bottom: 10px;
}
.end-screen-btn:hover, .end-screen-btn:focus {
  background-color: #2f8d47;
  color: #f9f6ee;
}
.end-screen .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03012c;
  opacity: 0.8;
}/*# sourceMappingURL=style.css.map */