/* imports */
@import "config";

/* styling */
body {
  background: $color-light;
  font-family: "Rubik", sans-serif;
}

.highlight {
  color: $color-brand;
  display: inline-block;
}

header {
  padding: 20px 0;

  a {
    color: $color-dark;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color-dark;
    }
  }
}

.header {
  &-title {
    font-size: 2.5rem;
    font-weight: 600;
  }

  &-text {
    font-weight: 600;
  }
}

.border-country,
.main-country {
  &-card {
    perspective: 1000px;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;

    &-content {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 1.2s;
      transform-style: preserve-3d;
    }
  }

  &-front,
  &-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-back {
    transform: rotateX(180deg);
    background-color: #000;
  }

  &-image {
    margin-bottom: 10px;
    position: relative;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.main-country {
  width: 100%;

  &-card {
    height: 400px;
  }

  &-text {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }
}

[hide] {
  .main-country,
  .border-country {
    &-card-content {
      transform: rotateX(180deg);
    }

    &-text {
      p {
        font-size: 0;

        &::after {
          content: "?????";
          font-size: 1rem;
        }
      }
    }
  }

  .main-country {
    &-text {
      p {
        &::after {
          font-size: 2rem;
        }
      }
    }
  }
}

.loading-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $color-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1.2s;

  &-title {
    font-size: 6rem;
    font-weight: 600;
  }

  &-subtitle {
    font-weight: 600;
  }
}

.notification-modal {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 50%);
  background: $color-brand;
  color: $color-light;
  padding: 15px 25px;
  border-radius: 8px;
  z-index: -1;
  opacity: 0;
  width: 75%;

  @media screen and (min-width: $lg) {
    width: auto;
  }

  &-text {
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.end-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  text-align: center;

  &-modal {
    background: $color-light;
    z-index: 10;
    border-radius: 8px;
    padding: 30px 60px;
    width: 85%;
    max-width: 720px;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-dark;
    opacity: 0.8;
  }
}
